


.bg-red {
    background-color: red;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

    
    overflow-x: hidden;
}

#login{
    color: white;
    box-shadow: 5px 5px 5px 5px #141E30;
    width: 500px;
    background-color: #0f4c75;
    border-radius: 5%;
}

#login label{
    margin-left: auto;
    margin-right: auto;
}

#log{
    padding: 20px 50px 30px;
}

#header{
    text-align: center;
    background-color: #1b262c;
    border-radius: 2%;
}

#header a{
    margin: 0 25px;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
    color: white;
}




#header a:active{
    color: black;
}

#header a:hover{
    font-size: 22px;
    transition: .2s;
}

#cuenta{
    color: white;
}

button{
    color: black;
}

#boton{
    background-color: #448FA3;
    border:none;

    font-size: 20px;
}

#modal{
    border-radius: 50%;
}

#taskh{
    text-align: center;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    color: white;
    background-color: #17223b;
    
  }

  .bg-pp{
    background-color: #17223b;
  }

#todotitle{
  display: flex;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  font-weight: 50;
  flex-wrap: wrap;
}

#addtodo{
  background-color: #17223b;
  color: white;
  height: 90px;
  border-radius: 100%;
  width: 90px;
  border: 1px solid white;
}

#eliminar{
  background-color:rgb(180, 180, 180);
  width: 100px;
}

#editar{
  background-color: rgb(180, 180, 180);
  width: 100px;
}

#todo{
  background-color: #67a0d4;
}
  #sidebar-wrapper a{
    color: white;
  }
  

  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
 
  }

  
  #sidebar-wrapper .list-group {
    width: 15rem;
    
  }

  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  
  #page-content-wrapper{
    background: #263859;  /* fallback for old browsers */
    
    
  }

.list-group-item:hover, .list-group-item:active  {
  background-color: #263859;
}

