


.bg-red {
    background-color: red;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;


    overflow-x: hidden;
}

#login{
    color: white;
    box-shadow: 5px 5px 5px 5px #141E30;
    width: 500px;
  
    border-radius: 5%;
}

#login label{
    margin-left: auto;
    margin-right: auto;
}

#log{
    padding: 20px 50px 30px;
}

#header{
    text-align: center;
    background-color: #243B55;
    border-radius: 2%;
}

#header a{
    margin: 0 25px;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
    color: white;
}




#header a:active{
    color: black;
}

#header a:hover{
    font-size: 22px;
    transition: .2s;
}

#cuenta{
    color: white;
}

button{
    color: black;
}

#boton{
    background-color: #448FA3;
    border:none;

    font-size: 20px;
}

#modal{
    border-radius: 50%;
}

#taskh{
    text-align: center;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    color: white;
    background-color: #e05340!important;
    
  }

#todotitle{
  display: flex;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  font-weight: 50;
  flex-wrap: wrap;
}
.cl{
  border: 1px solid greenyellow;
}
.bg-pp{
  background-color: #e05340!important;
}

.bg-pp:hover{
  background-color: #e26757!important;
}

  #sidebar-wrapper a{
    color: white;
  }
  

  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    border: 1px solid black;
  }

  #todoimg{
    display: flex;
    justify-content: flex-end;
    height:  50px;
    width: 50px;
    border-radius: 100%;
    background-color: #4252af;  
  }

  #todoimg img{
    width: 50px;
    border-radius: 100%;
    
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
    
  }

  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  
  #page-content-wrapper{
    background: #4252af /* fallback for old browsers */
    /* background: linear-gradient(to right, rgb(103, 156, 3), rgb(138, 82, 10)); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

